<font size="4"> Dominik Czyżyk </font>    
grupa: 2a   
401858

In [1]:
# Zaimportowanie odpowiednich bibliotek oraz połączenie z bazą danych
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgresql://postgres:Dominik3232#@localhost:5432/lab_12"

engine = create_engine(db_string)

Base = declarative_base() # automatyczne uruchomienie procesu mapowania istniejących tabel w bazie do klasy

In [2]:
# Tworzenie struktury tabel przy użyciu technik ORM
from sqlalchemy import Column, SmallInteger, Integer, Float, String, Text, Date, ForeignKey

class Users(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(String(100))
    
    # Dekorator do formatowania ciągu po wynikach zapytania.
    def __repr__(self):
        return "<users(id='{0}', email={1})>".format(self.id, self.email)
    
class Hosts(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(self.id, self.uder_id)
    
class Bookings(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date, nullable = False)
    end_date = Column(Date, nullable = False)
    price_per_night = Column(Float, nullable = False)
    num_nights = Column(Integer, nullable = False)
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date={3}, end_date={4}, \
                    price_per_night={5}, num_nights={6})>".format(self.id, self.user_id, self.place_id, 
                                                                  self.start_date, self.end_date, self.price_per_night,
                                                                 self.num_nights)
    
class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(SmallInteger)
    review_body = Column(Text)
    
    def __repr__(self):
        return "<reviews(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(self.id, self.booking_id,
                                                                  self.rating, self.review_body)
    
class Places(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(String(100), nullable = False)
    city_id = Column(Integer, ForeignKey('cities.id'))
    
    def __repr__(self):
        return "<places(id='{0}', host_id={1}, address={2}, city_id={3})>".format(self.id, self.host_id,
                                                                  self.address, self.city_id)
    
class Cities(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable = False)
    country_id = Column(Integer, ForeignKey('countries.id'))
    
    def __repr__(self):
        return "<cities(id='{0}', name={1}, country_id={2})>".format(self.id, self.name, self.country_id)
    
class Countries(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country_code = Column(String(5), nullable = False)
    name = Column(String(50), nullable = False)
    
    def __repr__(self):
        return "<countries(id='{0}', country_code={1}, name={2})>".format(self.id, self.country_code, self.name)

In [3]:
# Stworzenie wszystkich tabel z powyżej opisanego schematu
Base.metadata.create_all(engine)

Na koniec za pomocą pgAdmina można zobaczyć, że tabele oraz odpowiadające im kolumny zostały utworzone prawidłowo.

![tables.jpg](tables.jpg)

![columns.jpg](columns.jpg)